---
layout: default
title: Home
---

<article id="advance">
	<section id="about">
		<h2 class="heading-line">Our Village</h2>
		<p class="lead">
			{{ layout.description }}
		</p>
		<blockquote cite="https://homeiswhereyourbagis.com/en/tetebatu-lombok/">
			Would you like to spend some quiet days amidst lush green nature, rice terraces and paddies as well as a breathtaking mountain panorama with a view at the Rinjani Volcano? Get to know the real Lombok and the life of the Sasak? Then you should definitely visit Tetebatu!
			<cite>
				Marcel, <a href="https://homeiswhereyourbagis.com">homeiswhereyourbagis.com</a>
			</cite>
		</blockquote>
	</section>

	<section id="transport" class="">
		<h2 class="text-center">Transport</h2>
		<div class="spread-row">
			<div>
				<i class="fas fa-motorcycle"></i>
				<p>
					In the town of Sangjang turn north off the main road Jl. Paokmotong Kotaraja to reach Tetebatu on good roads.
				</p>
			</div>
			<div>
				<i class="fas fa-plane-arrival"></i>
				<p>
					Tetebatu is only 45km from the island's international airport (LOP), with flight links across Indonesia and to international hubs including Singapore and Perth.
				</p>
			</div>
			<div>
				<i class="fas fa-map-signs"></i>
				<p>
					With the right transport, you can reach almost anywhere on the island in a day. Popular options include Sembalun, Kuta Lombok, Senggigi or the nearby Gili Islands.
				</p>
			</div>
		</div>
	</section>

	<div id="map"></div>

	<section id="see">
		<h2 class="heading-line">See</h2>

		{% include facilities_list.html category="see" %}
	</section>

	<div class="bg-window" style="background-image: url('https://images.unsplash.com/photo-1559628233-100c798642d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80')">
	</div>

	<section id="eat">
		<h2 class="heading-line">Eat</h2>

		{% include facilities_list.html category="eat" %}
	</section>

	<!--  -->
	<div class="bg-window" style="background-image: url('img/james-thornton/waterfall-rice-terraces-DSCF9845-HDR-cover.jpg')">
	</div>

	<section id="stay">
		<h2 class="heading-line">Stay</h2>

		{% include facilities_list.html category="stay" %}
	</section>

	<div class="bg-window" style="background-image: url('img/edy-oktavia/rice-terraces.jpeg')">
	</div>

	<section id="tour">
		<h2 class="heading-line">Tour</h2>

		{% include facilities_list.html category="tour" %}
	</section>
</article>