---
description: Located at the foot of Mt. Rinjani, Tetebatu is encircled with lush rice terraces and waterfalls. The village is wonderfully unspoiled by mass tourism but travellers are welcomed by friendly locals, abundant accomodation and delicious food.
---

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ layout.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- TODO -->
<!-- 	<meta property="og:title" content="" />
	<meta property="og:type" content="" />
	<meta property="og:url" content="" />
	<meta property="og:image" content="" /> -->

	<title>{{ page.title }} - Tetebatu</title>

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon_io/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon_io/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon_io/favicon-16x16.png">
	<link rel="manifest" href="img/favicon_io/site.webmanifest">

	<!-- Google Fonts -->
	<!-- Shortlist 
		font-family: 'Amatic SC', cursive;	  		block
		font-family: 'Aubrey', cursive;	 			tribal
		font-family: 'Bahiana', cursive;	 		block
		font-family: 'Caveat Brush', cursive;		rounded X
		font-family: 'Devonshire', cursive;			brush	X
		font-family: 'Kaushan Script', cursive;	 	brush	X
		font-family: 'Long Cang', cursive;			brush	X
		font-family: 'Mr Dafoe', cursive;			brush
		font-family: 'Odibee Sans', cursive;		block	X
		font-family: 'Overlock SC', cursive;		block	X
		font-family: 'Rancho', cursive;				brush
		font-family: 'Satisfy', cursive;			brush	X
		font-family: 'Shadows Into Light', cursive;	tribal 	X
		font-family: 'Walter Turncoat', cursive;	rounded	X
		font-family: 'Yeon Sung', cursive;			rounded X
		font-family: 'Zhi Mang Xing', cursive; 		brush 	X -->
	<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

	<!-- Font Awesome 5 -->
    <script src="https://kit.fontawesome.com/ddf0d7413b.js" crossorigin="anonymous"></script>

    <!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

	<!-- Leaflet.js -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>

	<!-- Custom CSS + JS -->
	<link rel="stylesheet" type="text/css" href="css/core.css">
	<script src="js/core.js"></script>
</head>
<body>
	{% include header.html %}

	<div id="loading-overlay">
		<div class="loader"></div>
	</div>

	<main>
		{{ content }}
	</main>

	{% include footer.html %}
</body>
</html>