<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{{ page.title }} - Tetebatu</title>

	<link href="https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="css/core.css">

    <script src="https://kit.fontawesome.com/ddf0d7413b.js" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>

	<script src="js/core.js"></script>
</head>
<body>
	{% include header.html %}

	<main>
		{{ content }}
	</main>
</body>
</html>